
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;700&display=swap');

:root{
    --main-bg-color: #1B1B1B;
    --sec-color : #2E68FF;
}

*{
    box-sizing: border-box;
}

a{
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 2.3em;
    width: 9em;
    display: block;
}

body{
    overflow-x: hidden;
}

img{
    width: 100%;
}

.index-html{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Georama', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height:10em;
}

.index-html h1, button{
    display: none;
}

.index-html h1.is-active, button.is-active{
    display: inline-block;
}

.sk-grid{
    min-width: 3em;
    min-height: 3em;
}

.sk-grid.is-not-active{
    display: none;
}

.calcular-html{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Georama', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height:10em;
}

button[type="button"]{
    position: relative;
    outline: none;
    border: none;
    border-radius: 0.3em;
    height: 2.3em;
    width: 9em;
    background-color: var(--sec-color);
    box-shadow: 0px 0.5em 0.5em rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    max-width: 100%;
}

button[type="button"]:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.title{
    width: 100%;
    padding-left:4em;
    padding-top: 1em;
}

.formulas{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formulas figure{
    padding: 1em;
}

.form-calcular{
    text-align: center;
    width: 90%;
}

.form-calcular button{
    display: inline-block;
}

.form-calcular *{
    width: 100%;
}

.form-calcular .input-x, .form-calcular .input-y{
    position: relative;
    width: 90%;
    height: auto;
    margin: 2em auto;
}

.form-calcular input[type="text"]{
    border-radius: 0.5em;
    height: 2.3em;
    border: none;
    outline: none;
    padding-left: 2.8em;
    width: 100%;
}

.form-calcular svg{
    position: absolute;
    z-index: 1;
    top: 0.6em;
    left: 0.6em;
    height: inherit;
    border: none;
    outline: none;
    width: auto;
    height: 45%;
    fill: white;
}

.variable{
    position: absolute;
    z-index: 1;
    background-color: var(--sec-color);
    top: 0em;
    left: 0em;
    width: 2em;
    height: 2.3em;
    box-shadow: 0em 0em 0.4em rgba(0,0,0,1);
    border-radius: 0.3em;
}

.form-calcular button{
    margin-top:2em;
}

